.form-container {
    margin: 50px auto auto auto;
    background: rgba(184, 184, 148, 0.6);
    border-radius: 10px;
    text-align: center;
    width: 70%;
    padding: 10px 5px;
    overflow: hidden;
    color: black;
}

.form-container > .avatar {
    border-radius: 100%;
    width: 100px;
    height: 100px;
}

.form-input-div {
    padding-left: 5px; 
}

/* Happens <= 600px  */
@media only screen and (max-width: 700px) {
    .form-container {
        width: 80%;
    }

    .form-container > .avatar {
        border-radius: 100%;
        width: 100px;
        height: 100px;
    }
}

.submit-button {
    padding: 3px 10px;
    color: black;
    font-size: 16px;
    border: none;
    box-shadow: 4px 2px #ff6666;
}

.submit-button :hover {
    color: #4d0026;
    font-size: 18px;
    box-shadow: 4px 4px #4d0026;
    transition: ease-out 0.4s;
}